{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{{block.super}}
<section>
    <h2>Posts</h2>
    {% for post in posts%}
  
      <p>User:{{post.user}}</p>
      <p>My neighbourhood: {{post.post}}</p>
    {% endfor %}
    <br>
</section>
    <!-- <h2>Business</h2>
    {% for business in  businesses%}
      <p>Name:{{business.business_name}}</p>
      <p>Email: {{business.business_email_address}}</p>
      <p>User:{{business.user}}</p>
    {% endfor %}
 <br>
    <h2>Neighbourhood</h2>
    {% for hood in hoods%}
      <p>Name:{{hood.neighbourhood_name }}</p>
      <p>Location: {{hood.neighbourhood_location}}</p>
      <p>Occupants:{{hood.occupation_count}}</p>
    {% endfor %}
 <br>
 <h2>Contacts</h2>
 {% for hoods in contact%}
   <p>Name:{{hoods.name }}</p>
   <p>Phone_number: {{hoods.phone_number}}</p>
   <p>Email:{{hoods.email_address}}</p>
 {% endfor %}
 <br>
 <h2>UserProfile</h2>
 {% for hoods in profile%}
   <p>Name:{{hoods.name }}</p>
   <p>Email:{{hoods.email_address}}</p> -->
 {% endfor %}
{% endblock %}