<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
  <div class="jumbotron" style ="margin-bottom: 0px;">
    <h1>The Night's Watch</h1>
    <p>Hey there,boogy man...</p>
  </div>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top"> 
    <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse-target">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapse-target">
    <span class="navbar-text">Night's Watch</span>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item dropdoown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">Acoount

                <span class="caret"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown_target">
              
              <a class="dropdown-item">Login</a>
              <div class="dropdown-divider">

              </div>
              <a class="dropdown-item">Create Profile</a>
            </div>
          </li>          
    </ul>
  </div>
  </nav>

      <img src="https://images.unsplash.com/photo-1455596120412-30a2e6c8e600?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=035bb0e562f295f390b0cde667f117a4&auto=format&fit=crop&w=1350&q=80" alt="back" class="img-fluid" />
 
    <!-- <nav class="navbar navbar-expand-md fixed-top"> -->
        <!-- <div class="collapse navbar-collapse" id="navbarTogglerDemo01"> -->
          <!-- <a class="navbar-brand" href="/">The Watch</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/home/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contacts/">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="profile/">Profile</a>
            </li>
          </ul>
          <ul>
            {% if user.is_authenticated %}
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                          <span class="caret"></span>
                      </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="">Home</a>
                  </li>
                  <li>
                    <a href="/accounts/password/change">Change Password</a>
                  </li>
                  <li>
                      <a href="">Create Article</a>
                    </li>
                  <li>
                    <a href="/logout">Logout</a>
                  </li>
                    
                </ul>
              </li>
            </ul>
            {% else %}
            <li>
              <a class='btn btn-default' href="/accounts/login">Login</a>
            </li>
  
            {% endif %}
        
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>

      </nav> -->
    
</body>

</html>